body {
	font-family: "Avenir Next", Helvetica;
	font-size: 100%;
	background-color: #F8F8F8;
}
.top-menu {
	text-align: center;
	/*margin: auto;*/
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #0B0000;
	font-size: 1.5em;
}

.top-menu ul {
	list-style-type: none;
}

.top-menu li {
	display: inline;
	/*text-align: center;*/
	margin: 15px;
	color: #F8F8F8;
}

.top-menu a {
	color: #F8F8F8;
	text-decoration: none;
}

.classy-divider {
	height: 3px;
	background-color: #D0D0D0 ;
}
.container-home {
	/*margin: auto;*/
	padding-top: 40px;
	padding-bottom: 20px;
	text-align: center;
}

.container-title-home {
	font-size: 2em;
	/*width: auto;*/
	padding-bottom: 20px;

}

.container-links-home li {
	display: inline;
	margin: 15px;
}
.home-body {
	padding: 5px;
	text-align: center;

}
.home-body ol {
text-align:center;
list-style-position:inside;
}
.home-body ul {
text-align:center;
list-style-position:inside;
}
.home-body a{
	text-decoration: none;
	color: inherit;
}
/*color palettes: http://www.colourlovers.com/palette